.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1600px;
  margin: 0 auto;
  .logo {
    display: inline-block;
    margin-right: 0;
    margin-bottom: 20px;
    color: var(--primary-white-color);
  }
}
.footer-content {
  display: flex;
  align-items: baseline;
}
.footer-list {
  display: inline-block;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link,
.footer-tel,
.footer-mail {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-link {
  color: var(--primary-white-color);
}
.footer-tel,
.footer-mail {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-network {
  display: inline-block;
  margin-left: 70px;
  margin-right: 93px;
}
.soc-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}
.soc-net-list {
  display: flex;
}
.soc-item + .soc-item {
  margin-left: 10px;
}

.soc-link {
  width: 44px;
  height: 44px;
  background-color: #44454e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
.soc-icon {
  fill: var(--primary-white-color);
}
.subscribe-form {
  display: flex;
}
.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.subscribe-input {
  min-width: 358px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
  background: #2f303a;
  outline: none;
  color: var(--primary-white-color);
  &:focus {
    border-color: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.subscribe-btn {
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--accent-color);
  outline: none;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 29px;
  cursor: pointer;
  &:hover,
  &:focus {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
