.header {
  border-bottom: 1px solid #ececec;
  .container {
    display: flex;
    align-items: center;
  }
  .logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    color: #000000;
    text-decoration: none;
    margin-right: 93px;
  }
}
.accent {
  color: var(--accent-color);
}
.menu-open-btn {
  margin-left: auto;
  border: 0;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.main-nav_list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.main-nav_list .main-nav_item:not(:last-child) {
  margin-right: 50px;
}
.main-nav_link {
  display: inline-block;
  padding: 32px 0;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav_link.current {
  position: relative;
  color: var(--accent-color);
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
.connect-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.connect-list_item {
  margin-bottom: 10px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.connect-list .connect-list_item + .connect-list_item {
  margin: left 0;
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}
.connect-list_mail,
.connect-list_tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 1200px) {
    padding: 32px 0;
  }
}
.connect-list_icon {
  fill: currentColor;
  margin-right: 10px;
}
.mob-menu {
  position: fixed;
  z-index: 1;
  overflow-y: hidden;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  @media screen and (min-width: 768px) {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  display: block;
  margin-left: auto;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}
.mob-menu-top {
  width: 100%;
  @media screen and (min-width: 480px) {
    margin-bottom: 306px;
  }
}
.mob-nav_item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.mob-nav_link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.mob-nav_link.current {
  color: var(--accent-color);
}
.mob-connect-list {
  margin-bottom: 64px;
}
.mob-connect-list_item {
  margin-bottom: 32px;
}
.mob-connect-list_tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-connect-list_mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.mob-soc-list {
  display: flex;
}
.mob-soc-list_item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.mob-soc_link {
  font-weight: 500;
  font-size: 4.5vmin;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-right: 10px;
  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
}
.no-scroll {
  overflow: hidden;
}
