.header {
  border-bottom: 1px solid #ececec;
  .container {
    display: flex;
    align-items: center;
  }
}
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  color: #000000;
  text-decoration: none;
  margin-right: 93px;
}
.accent {
  color: var(--accent-color);
}
.menu-open-btn {
  margin-left: auto;
  border: 0;
  background-color: transparent;
}
.main-nav {
  display: flex;
  align-items: center;
}
.main-nav_list {
  display: flex;
  align-items: center;
  display: none;
}
.main-nav_list .main-nav_item:not(:last-child) {
  margin-right: 50px;
}
.main-nav_link {
  display: inline-block;
  padding: 32px 0;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav_link.current {
  position: relative;
  color: var(--accent-color);
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}
.connect-list {
  display: flex;
  margin-left: auto;
  display: none;
}
.connect-list .connect-list_item + .connect-list_item {
  margin-left: 30px;
}
.connect-list_mail,
.connect-list_tel {
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.connect-list_icon {
  fill: currentColor;
  margin-right: 10px;
}
.menu-btn {
  display: inline-block;
  border: 0;
  margin: 0;
  padding: 0;
}
.menu-btn .icon-cross {
  display: none;
}
.menu-btn.is-open .icon-cross {
  display: block;
}
.menu-btn.is-open .icon-menu {
  display: none;
}
.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.mob-nav_link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-connect-list_tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.mob-connect-list_mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-soc_link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
