.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: var(--section-size);
    padding-bottom: var(--section-size);
  }
}
.portfolio-list-btn {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.portfolio-item .button.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.button {
  display: inline-block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.portfolio-list-link {
  margin-bottom: -30px;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}
.portfolio-list-link > .portfolio-card-item {
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
.img-wrap {
  position: relative;
  overflow: hidden;
}
.img-text {
  position: absolute;
  top: 0;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  transform: translateY(100%);
  transition: transform 250ms linear;
  .portfolio-card-item:hover & {
    transform: translate(0);
  }
}
.portfolio-card-item {
  transition-property: box-shadow;
  transition-duration: 250ms;
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.card-content {
  padding: 20px 24px;
  border: 1px solid #eee;
}
.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.portfolio-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
