.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
  overflow: hidden;
  @media screen and (min-width: 480px) {
    padding: 93px 15px 94px 15px;
  }
  @media screen and (min-width: 768px) {
    padding: 207px 159px 208px 159px;
  }
  @media screen and (min-width: 1200px) {
    padding: 221px 536px 222px 536px;
  }
}
.backdrop.is-hidden .modal {
  transform: scale(0.5);
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  @media screen and (min-width: 480px) {
    width: 450px;
    max-height: 609px;
  }
  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms;
  }
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  cursor: pointer;
  background-color: var(--primary-white-color);
  outline: none;
  &:focus,
  &:hover {
    fill: var(--accent-color);
    border-color: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.icon-close-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.modal-field {
  margin-bottom: 10px;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
}
.modal-input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms;
  .modal-input:focus + & {
    fill: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  display: block;
}
.modal-text {
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px 12px 16px;
  resize: none;
  outline: none;
  &:focus {
    border-color: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.user-field {
  margin-bottom: 20px;
}
.checkbox-field {
  margin-bottom: 30px;
}
.check-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-color);
    border-radius: 3px;
    margin-right: 7px;
    .input-check:checked + & {
      background-color: var(--accent-color);
      background-image: url(..//images/check.svg);
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      box-shadow: none;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.check-link {
  color: var(--accent-color);
  margin-left: 4px;
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.modal-btn-wrap {
  text-align: center;
}
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  color: var(--primary-white-color);
  background: var(--accent-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 10px 55px;
  &:focus,
  &:hover {
    border-color: var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.personal-info {
  display: block;
  align-items: center;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
